
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{
    var userLogin = (CasePortal.Models.User)Session["user"];
}
@model CasePortal.ViewModel.LogViewModel
@using CasePortal.Common
<div id="content" ng-controller="HomeController">
    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>
            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                            <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@userLogin.Email</span>
                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- End of Topbar -->
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Log List</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            @if (UserRoles.Check(Permission.SuperAdmin_Admin, userLogin))
            {
                <div class="row">
                    <button class="btn btn-primary btn-add-new" data-toggle="modal" data-target="#addLog"><i class="fas fa-plus"></i> @Constants.AddNew</button>
                </div>
            }
            <div class="show-length">
                <label for="show-number">@Constants.Show</label>
                <select id="show-number" name="show-number" ng-model="itemsPerPage">
                    @foreach (var item in Constants.ShowNumbers)
                    {
                        <option value="@item">@item</option>
                    }
                    <option value="{{listLog.length}}">@Constants.All</option>
                </select>
                <label for="district">@Constants.Entries</label>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th ng-click="sort('Name')">
                                    @Html.DisplayNameFor(model => model.Name)
                                    <span ng-show="sortKey=='Name'" ng-class="{'fa fa-angle-down':reverse,'fa fa-angle-up':!reverse}"></span>
                                </th>
                                <th ng-click="sort('IncidentTyleName')">
                                    @Html.DisplayNameFor(model => model.IncidentTypeName)
                                    <span ng-show="sortKey=='IncidentTyleName'" ng-class="{'fa fa-angle-down':reverse,'fa fa-angle-up':!reverse}"></span>
                                </th>
                                <th ng-click="sort('NotificationDate')">
                                    @Html.DisplayNameFor(model => model.NotificationDate)
                                    <span ng-show="sortKey=='NotificationDate'" ng-class="{'fa fa-angle-down':reverse,'fa fa-angle-up':!reverse}"></span>
                                </th>
                                <th ng-click="sort('IncidentDate')">
                                    @Html.DisplayNameFor(model => model.IncidentDate)
                                    <span ng-show="sortKey=='IncidentDate'" ng-class="{'fa fa-angle-down':reverse,'fa fa-angle-up':!reverse}"></span>
                                </th>
                                <th ng-click="sort('DistrictName')">
                                    @Html.DisplayNameFor(model => model.DistrictName)
                                    <span ng-show="sortKey=='DistrictName'" ng-class="{'fa fa-angle-down':reverse,'fa fa-angle-up':!reverse}"></span>
                                </th>
                                @if (UserRoles.Check(Permission.SuperAdmin_Admin, userLogin))
                                {
                                    <th>
                                        Option
                                    </th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="log in listLog |orderBy:sortKey:reverse| itemsPerPage:itemsPerPage" ng-show="listLog.length>0">
                                <td> {{log.Name}}</td>
                                <td>{{log.IncidentTypeName}}</td>
                                <td>{{log.NotificationDate | date : "MM/dd/yyyy h:mm a"}}</td>
                                <td>{{log.IncidentDate | date : "MM/dd/yyyy"}}</td>
                                <td>{{log.DistrictName}}</td>
                                @if (UserRoles.Check(Permission.SuperAdmin_Admin, userLogin))
                                {
                                    <td>
                                        <a class="btn btn-primary icon-option" data-toggle="modal" data-target="#updateLog" ng-click="OpenModalUpdate(log)">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="btn btn-danger icon-option" data-toggle="modal" data-target="#deleteLog" ng-click="OpenModalDelete(log)">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                }

                            </tr>
                        </tbody>
                    </table>
                    <div ng-show="listLog.length==0">
                        <h6 class="no-data">@Constants.MessageNoData</h6>
                    </div>
                </div>
                <dir-pagination-controls class="pagination" max-size="5" direction-links="true" boundary-links="true">

            </div>
        </div>
    </div>
    <div class="modal fade" id="addLog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="form" method="post" ng-submit="AddLog(log,'#addLog')">
                    <div class="modal-header">
                        <h4 class="modal-title">@Constants.AddNewLog</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>@Html.DisplayNameFor(model => model.Name)</label>
                                <input type="text" name="name" class="form-control" ng-model="log.Name" ng-required="true" maxlength="100" />
                                <code ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">
                                    @String.Format(Constants.MessageRequired, Html.DisplayNameFor(model => model.Name))
                                </code>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="district">@Html.DisplayNameFor(model => model.IncidentTypeName)</label>
                                <select id="district" name="district" class="form-control" ng-model="log.IncidentTypeId" ng-required="true">
                                    <option value="{{IncidentType.Id}}" ng-repeat="IncidentType in listIncidentType">{{IncidentType.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>@Html.DisplayNameFor(model => model.NotificationDate)</label>
                                <input type="datetime-local" class="form-control" ng-model="log.NotificationDate" ng-required="true" />
                            </div>

                            <div class="form-group col-md-12">
                                <label>@Html.DisplayNameFor(model => model.IncidentDate)</label>
                                <input type="date" class="form-control" ng-model="log.IncidentDate" ng-required="true" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="district">@Html.DisplayNameFor(model => model.DistrictName)</label>
                                <select id="district" class="form-control" ng-required="true" ng-model="log.DistrictId">
                                    <option value="{{District.Id}}" ng-repeat="District in listDistrict">{{District.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">@Constants.Add</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Constants.Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateLog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="formUpdate" ng-submit="UpdateLog(log,'#updateLog')">
                    <div class="modal-header">
                        <h4 class="modal-title">@Constants.UpdateLog</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>@Html.DisplayNameFor(model => model.Name)</label>
                                <input type="text" name="name" class="form-control" ng-model="log.Name" ng-required="true" maxlength="100" />
                                <code ng-show="formUpdate.name.$invalid && !formUpdate.name.$pristine" class="help-block">
                                    @String.Format(Constants.MessageRequired, Html.DisplayNameFor(model => model.Name))
                                </code>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="district">@Html.DisplayNameFor(model => model.IncidentTypeName)</label>
                                <select id="district" name="district" class="form-control" ng-model="log.IncidentTypeId" ng-required="true">
                                    <option ng-value="{{IncidentType.Id}}" ng-repeat="IncidentType in listIncidentType">{{IncidentType.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label>@Html.DisplayNameFor(model => model.NotificationDate)</label>
                                <input type="datetime-local" class="form-control" ng-model="log.NotificationDate" ng-required="true" />
                            </div>

                            <div class="form-group col-md-12">
                                <label>@Html.DisplayNameFor(model => model.IncidentDate)</label>
                                <input type="date" class="form-control" ng-model="log.IncidentDate" ng-required="true" />
                            </div>
                            <div class="form-group col-md-12">
                                <label for="district">@Html.DisplayNameFor(model => model.DistrictName)</label>
                                <select id="district" class="form-control" ng-required="true" ng-model="log.DistrictId">
                                    <option ng-value="{{District.Id}}" ng-repeat="District in listDistrict">{{District.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" ng-disabled="formUpdate.$invalid">@Constants.Update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Constants.Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteLog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="formUpdate" ng-submit="DeleteLog(log,'#deleteLog')">
                    <div class="modal-header">
                        <h4 class="modal-title">@Constants.Delete</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <p> @String.Format(Constants.MessageDelete, "log") <strong>{{log.Name}}</strong> ?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">@Constants.Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Constants.Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

