@model CasePortal.ViewModel.LogViewModel
@using CasePortal.Common
<div class="col-lg-3">
    <div class="widget">
        <div class="d-lg-none d-md-block">
            <button class="btn btn-primary btn-search-form" data-toggle="collapse" data-target="#search-form">
                <span class="fas fa-search"></span> @Constants.ToggleSearchForm
            </button>
        </div>
        <div id="search-form" class="collapse">
            <form id="formSearch">
                <div class="form-group">
                    <label for="search">
                        <strong> @Constants.Search</strong>
                    </label>
                    <input type="search" id="search" name="search" placeholder="search" class="form-control" ng-model="keyword">
                </div>
                <strong class="">@Html.DisplayNameFor(model => model.IncidentTypeName) </strong>
                <div class="form-group">
                    <div class="checkbox" ng-repeat="incidentType in listIncidentType">
                        <label>
                            <input type="checkbox" name="checkbox" value="{{incidentType.Id}}" ng-click="GetListIncidentType(incidentType.Id)" ng-checked="listIncidentTypeSelected.indexOf(incidentType.Id)!==-1">
                            {{incidentType.Name}}
                        </label>
                    </div>
                </div>
                <div class="form-horizontal">
                    <strong class="notification-date">@Html.DisplayNameFor(model => model.NotificationDate)</strong>
                    <div class="form-group">
                        <div class="row">
                            <label for="datepicker1" class="col-sm-2 control-label label-datepicker">@Constants.Start</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="date" id="datepicker1" class="form-control" ng-model="notificationDateStart">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="datepicker2" class="col-sm-2 control-label label-datepicker">@Constants.End</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="date" id="datepicker2" class="form-control" ng-model="notificationDateEnd">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <strong class="incident-date">@Html.DisplayNameFor(model => model.IncidentDate) </strong>
                    <div class="form-group">
                        <div class="row">
                            <label for="datepicker3" class="col-sm-2 control-label label-datepicker">@Constants.Start</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="date" id="datepicker3" class="form-control" ng-model="incidentDateStart">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="datepicker4" class="col-sm-2 control-label label-datepicker">@Constants.End</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input type="date" id="datepicker4" class="form-control" ng-model="incidentDateEnd">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="district">@Html.DisplayNameFor(model => model.DistrictName)</label>
                    <select id="district" class="form-control" ng-model="district" ng-options="x.Name for x  in listDistrict"></select>
                </div>
                <div class="form-group">
                    <div class="row btn-group">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block" ng-click="search()">@Constants.Search</button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-default btn-block reset" ng-click="reset()">@Constants.Reset</button>
                        </div>
                    </div>

                </div>
            </form>

        </div>

    </div>
</div>